@font-face {
    font-family: Cera Pro-Bold;
    src: url(../fonts/CeraPro-Bold.woff);
}
@font-face
{
    font-family: Cera Pro-Light;
    src: url(../fonts/CeraPro-Light.woff);
}
a {
    text-decoration: none;
    color: inherit;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #46A35880;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav {
    display: flex;
    gap: 50px;
    font-size: 16px;
    color: #3D3D3D;
    font-family: Cera Pro-Light;
  }
  .logo span {
    font-size: 18px;
    font-weight: 700;
    color: #46A358;
    font-family: Cera Pro-Bold;
  }
  .login-btn {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #46A358;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-family: Cera Pro-light;
    gap: 4px;
  }
  .nav a:hover {
    font-weight: bold;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
  }
  .welcome {
    letter-spacing: 2px;
    font-size: 12px;
    color: #3D3D3D;
    font-family: Cera Pro-Light;
    
  }
  .hero-text h1 {
    font-size: 56px;
    color: #3D3D3D;
    margin-bottom: 20px;
    font-family: Cera Pro-Bold;
  }
  .hero-text h1 span {
    color: #46A358;
  }
  .description {
    color: #727272;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: Cera Pro-Light;
  }
  .shop-btn {
    padding: 12px 28px;
    background-color: #2e7d32;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-family: Cera Pro-Light;
  }
.active {
    font-weight: bold;
    color: #46A358;
}
